{% extends "../base.html" %}

{% block content %}
<section>
    <div class="container series-header border-4 rounded-3 mt-5">
        <div class="row mb-5 p-5">
            <div class="col-4">
                <img class="img-thumbnail img-fluid" src="{{ series.url_logo}}" alt="" height="150" width="150">
                <h5 class="mt-3"><i class="fa-solid fa-eye"></i> {{ series.hit_count.hits }}</h5>
            </div>
            <div class="col-8">
                <h2>{{ series.cleanname }}</h2>
                <div class="row p-2">
                    <div class="col-6">
                        <h6>Status: {{ series.status }}</h6>
                        <h6>Type: {{ series.type }}</h6>
                    </div>
                    <div class="col-6">
                        <h6>Publisher: {{ series.publisher }}</h6>
                        <h6>Genre: {{ series.genre }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <!-- SEARCH RESULTS -->
        <div class="row mb-5">
            <div class="col-10">SHOW <b>{{ issues|length }}</b> RESULTS</div>
            <div class="col-2">SORT BY</div>
        </div>
        <div class="row row-cols-3 row-cols-sm-3 row-cols-md-4 row-cols-lg-5">
            {% for issue in issues %}
            <div class="col issue-card">
                <div class="issue-card-image mb-3">
                    <a href="../issue/{{ issue.issue_id}}/read/">
                        <img class="img-fluid" src="{{ issue.url_cover }}" alt="" loading="lazy">
                    </a>
                </div>
                <div class="issue-card-text">
                    <h5>{{ issue.name }}</h5>
                    <p>{{ issue.title }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}

{% block script %}
{% load hitcount_tags %}
{% get_hit_count_js_variables for series as hitcount %}
<script type="text/javascript">
  $(function() {
    // use the template tags in our JavaScript call
    $.postCSRF("{{ hitcount.ajax_url }}", { hitcountPK : "{{ hitcount.pk }}" })
      .done(function(data){
        console.log(data.hit_counted, data.hit_message)
    }).fail(function(data){
        console.log('POST failed');
        console.log(data);
    });
  });
</script>
{% endblock script %}