body {
    font-family: "Marvel";
    width: 100vw;
    height: 100vh
}

.nav-item {
    margin-left: 1em;
}

.nav-link {
    font-size: medium;
    color: grey;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 2px solid transparent;
}

.nav-link:hover {
    border-bottom: 2px solid #f0131e;
    font-weight: bold;
    color: white;
}

.nav-item.active > a {
    border-bottom: 2px solid #f0131e;
    font-weight: bold;
    color: white;
}

header {
    background-color: black;
    border-bottom: 1px solid #393939;
}

footer {
    display: block;
    line-height: 60px;
    text-align: center;
    color: #666;
}

.headlines-container {
    position: relative;
    display: inline-block;
    background-color: #393939;
    width: 100%;
}
  
.headlines-container img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.5;
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.headlines-text {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: transparent; 
    color: #fff; 
    padding: 10px 20px; 
    font-size: 20px; 
    text-align: center;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

.search-results {
    text-decoration: none;
    width: 100%;
}

.search-results:hover {
    color:#f0131e;
}