{% extends "../base.html" %}

{% block content %}
<section class="headlines-container">
  <img src="https://i.imgur.com/7lZxwsp.jpg" alt="" class="img-fluid">
  <div class="headlines-text" class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Marvel Movies</h1>
    <p class="lead font-weight-normal">Journey into the cosmic depths of the mighty Marvel Cinematic Universe!</p>
    <a class="btn btn-light" href="#">Suprise me</a>
  </div>
</section>
<section>
  <div class="container">
    <rssapp-carousel id="yDwSKoCWF91DoGRO"></rssapp-carousel>
  </div>
</section>

<section class="mb-3">
  <div class="container">
    <h4 class="p-2">MARVEL MOVIES LIST</h4>
    <form action="" method="">
      {% csrf_token %}
      <input id="searchbar" class="form-control form-control-lg" type="text" placeholder="SEARCH">
    </form>
  </div>
</section>

<!-- SEARCH RESULTS -->
<section>
  <div class="container">
      <div class="row mb-5">
          <div class="col-10">{{ all_movies|length }} RESULTS</div>
          <div class="col-2">SORT BY</div>
      </div>
      
      <div class="row row-cols-3 row-cols-sm-3 row-cols-md-4 row-cols-lg-5">
        {% for movie in list_movies %}  
          <div class="col series-card">
              <div class="series-card-image mb-3">
                  <a href="{% url 'get-movie' movie.movie_id%}">
                      <img class="img-fluid" src="{{ movie.url_cover }}" alt="" loading="lazy">
                  </a>
              </div>
              <div class="series-card-text">
                  <h5>{{ movie.name }}</h5>
                  <p>{{ movie.release_date }}</p>
              </div>
          </div>
        {% endfor %}    
      </div>
  
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          {% if list_movies.has_previous %}
          <li class="page-item">
            <a class="page-link" href="{% url 'movies-home' %}?page={{ list_movies.previous_page_number }}" tabindex="-1">Previous</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          {% endif %}

          {% for page_number in list_movies.adjusted_elided_pages %}
            {% if page_number == list_movies.paginator.ELLIPSIS %}
            <li class="page-item">
              <a class="page-link" href="">{{ page_number }}</a>
            </li> 
            {% else %}
            <li {% if page_number == list_movies.number %}class="page-item active" aria-current="page" {% else %}class="page-item"{% endif %}>
              <a class="page-link" href="{% url 'movies-home' %}?page={{ page_number }}">{{ page_number }}</a>
            </li>  
            {% endif %}
          {% endfor %}
          
          {% if list_movies.has_next %}
          <li class="page-item">
            <a class="page-link" href="{% url 'movies-home' %}?page={{ list_movies.next_page_number }}">Next</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Next</a>
          </li>
          {% endif %}
        </ul>
      </nav>
  </div>
</section>
{% endblock content %}

{% block script %}
<a href="http://"></a>
<script>
  $(function() {
    $("#searchbar").autocomplete({
      source: "{% url 'ajax-search' %}"
    }).autocomplete("instance")._renderItem = function(ul, item) {
      console.log('test');
      var item = $(`<a class="search-results" href="watch/${item.movie_id}">${item.name}</a>`)
      return $("<li>").append(item).appendTo(ul);
    };
  });
</script>
{% endblock %}