{% extends "../base.html" %}

{% block content %}
<section class="headlines-container">
  <img src="https://i.imgur.com/7lZxwsp.jpg" alt="" class="img-fluid">
  <div class="headlines-text" class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Marvel Movies</h1>
    <p class="lead font-weight-normal">Journey into the cosmic depths of the mighty Marvel Cinematic Universe!</p>
    <a class="btn btn-light" href="#">Suprise me</a>
  </div>
</section>
<section>
  <div class="container">
    <rssapp-carousel id="yDwSKoCWF91DoGRO"></rssapp-carousel><script src="https://widget.rss.app/v1/carousel.js" type="text/javascript" async></script>
  </div>
</section>

{% endblock content %}