{% extends "../base.html" %}

{% block content %}
<section class="headlines-container">
  <img src="https://i.imgur.com/4BK4yCj.jpg" alt="" class="img-fluid">
  <div class="headlines-text" class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Marvel Characters</h1>
    <p class="lead font-weight-normal">Get hooked on a hearty helping of heroes and villains from the humble House of Ideas!</p>
    <a class="btn btn-light" href="#">Suprise me</a>
  </div>
</section>
<section></section>
{% endblock content %}